# requirements.txt (Final Corrected Version for Gemini & Groq)
fastapi
uvicorn
gunicorn
pydantic
langchain
langchain-google-genai
langchain-community
pinecone-client==4.1.1
python-dotenv
sentence-transformers
PyMuPDF
langchain-groq
